/* reset + fonte */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #121317;
}

.wapper {
  position: absolute;
  border: 1px solid white;
  display: flex;
  justify-content: space-around;
  justify-items: center;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  padding: 20px;
  border-radius: 8px;
  gap: 5px;

}

.container {
  background-color: rgb(218, 235, 250);
  padding: 10px;
  width: 28vmin;
  height: 28vmin;
  border: 1px solid #ed0384;
  border-bottom: 8px solid #ed0384;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2px;

}

.container i {
  color: #ed0384;
  font-size: 40px;
}

.num {
  color: rgb(2, 3, 2);
  font-weight: 800;
  font-size: 30px;

}

.text {
  display: block;
  /* <- ESSENCIAL para quebra */
  text-align: center;
  font-size: 15px;
  color: rgb(48, 44, 46);
}


@media screen and (max-width: 1200px) {

  .wapper {
    width: 85vw;
  }

  .container {
    width: 28vmin;
    height: 28vmin;
    font-size: 10px;

  }

}

@media screen and (max-width: 760px) {

  .wapper {
    width: 90vw;
    flex-wrap: wrap;

  }

  .container {
    width: calc(50%, -40px);
    height: 28vmin;
    border-bottom: 9px solid #fa0000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    

  }

  .container i {
    color: #fa0000;
    font-size: 40px;


  }

  .num {
    color: #fa0000;
    font-weight: 800;
    font-size: 20px;

  }

  .text {
    display: block;
    /* <- ESSENCIAL para quebra */
    text-align: center;
    font-size: 15px;
    color: rgb(48, 44, 46);
  }


}


@media screen and (max-width: 480px) {

  .wapper {
    flex-wrap: wrap;
    gap: 10px;
  }

  .container {
    width: 100%;

    font-size: 8px;

  }

}